<%- include("template/cabecera", {titlePage: 'Detalle Estudiante'}) %>
<%- include("template/navbar") %>
    <div class="container text-center">
        <h1 class="text-center my-3">Datos del estudiante</h1>
        <!--if it shows an error it is because the id does not exist-->
        <% if (error) { %>
            <p>
                <%= message %> 
            </p>
            <a href="/students" class="btn btn-primary btn-block">Volver</a>
        <% } %>
        <!--if the error is false, the id exists and will display the result-->
        <% if (!error) { %>
            <div class="row justify-content-center">
                <div class="col-sm-6 text-center">
                    <div class="card text-white bg-dark" >
                        <div class="card-body">
                            <form id="editForm" data-id="<%= student.id %>">
                                <input type="text" name="name" value="<%= student.name %>" id="nameId" class="form-control my-2">
                                <input type="text" name="cod" value="<%= student.cod %>" id="codId" class="form-control my-2">
                                <input type="text" name="course" value="<%= student.course %>" id="courseId" class="form-control my-2">
                                <div class="row justify-content-center mt-3">
                                    <button class="btn btn-success mr-2" type="submit">Actualizar</button>
                                    <!--With the id, it is going to send the action-->
                                    <button class="btn btn-danger" id="btnDelete" data-id="<%= student.id %>"> <!--data-id stores the id-->
                                        Eliminar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/students" class="btn btn-link my-3">Volver</a>
        <% } %>
    </div>

<%- include("template/footer") %>

<!--similar to what vue does, I will pass javascript and I'll use fetch-->
<script>
    const btnDelete = document.querySelector('#btnDelete') //the id is being received from the button
    
    //when button is pressed it is going to be catch an event
    btnDelete.addEventListener('click', async()=>{
        //console.log( 'Click en el button eliminar');
        const id = btnDelete.dataset.id //this capture the id form data-id in the button
        try {
            const data = await fetch(`/students/${id}` , {
                method: 'delete'
            })
            const res = await data.json()

            if (res.status) {
                window.location.href = '/students'
                //res.redirect('/students'); //for this line: on asynchronous requests it only changes on the backend side to the URL, but not in the frotend
            } else {
                console.log(res)
            }
        } catch (error) {
            console.log(error)
        }
    });

    //captures de event of the formEdit
    const editForm = document.querySelector('#editForm');
    editForm.addEventListener('submit', async(e) => {
        e.preventDefault() //this prevents the form from processing and allows the code to continue
        
        const name = document.querySelector('#nameId').value
        const cod = document.querySelector('#codId').value
        const course = document.querySelector('#courseId').value
        const id = editForm.dataset.id

        try {
            const data = await fetch(`/students/${id}`,{
                method: 'put',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({name, cod, course})
            });
            const res = await data.json();
            console.log(res);
            if (res.status) {
                window.location.href = '/students'
            } else {
                console.log(res)
            }
        } catch (error) {
            console.log(error)
        }
    });
</script>