<%- include("template/cabecera", {titlePage: 'Students'}) %>
<%- include("template/navbar") %>

<h3 class="text-right mr-3 mt-3">Welcome <%= userName %>!</h3>
<hr>
<h1 class="text-center text-uppercase">Listado Estudiantes</h1>

<!-- Show the static array in a table-->
<div class="container">
    <a class="btn btn-success mb-3" href="/students/create">Crear nuevo</a>
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Código</th>
            <th scope="col">Curso</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
            <!-- with EJS iterate static array using foreach  -->
            <!-- first check if array it is not empty -->
            <% if (studentsArray.length > 0) { %> 
                <!-- iterate -->
                <% studentsArray.forEach(student => { %>
                    <tr>
                        <th scope="row"><%= student.id %></th>
                        <td><%= student.name %></td>
                        <td><%= student.cod %></td>
                        <td><%= student.course %></td>
                        <td>
                            <a href="students/<%= student.id %>" class="btn btn-warning">Editar</a>
                        </td>
                    </tr>
                <% }) %>
            <% } %>
        </tbody>
    </table>
</div>

<!-- This add the footer view-->
<%- include("template/footer") %>